.contact {
    min-height: 100%;
}

.contact-info {
    padding: 0;
    list-style-type: none;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.form-field {
    grid-column: 1 / 2;

    display: grid;
    gap: 10px;
    margin: 0;
}

.form-field > input,
.form-field > textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.buttons > button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.form-field.textarea {
    grid-column: 2 / 3;
    grid-row: 1 / 4;

    grid-template-rows: auto 1fr;
}

.textarea > textarea {
    resize: none;
}

.form-field.buttons {
    grid-column: 2 / 3;

    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    .contact-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .form-field.textarea {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .form-field.buttons {
        grid-column: 1 / 2;
    }

    .textarea > textarea {
        height: 200px;
    }
}